@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: gray;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    flex: 0 0 180px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.472);
}

header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

header > nav > a:hover {
    background-color: white;
    color: black;
    transition: color .5s, background-color .5s;
    cursor: pointer;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.329);
}

main > p {
    text-indent: 15px;
    line-height: 1.5em;
}

@media screen and (min-width: 900px) {
    main {
        margin: auto;
        width: 90vw;
    }
}

@media screen and (max-width: 565px) {
    header {
        display: flex;
        flex-flow: row nowrap;
    }

    header > h1 {
        align-self: center;
    }

    header > nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    header > nav > a {
        height: 55px;
        flex: 0 1 90px;
    }
}

